body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#1f2937;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    color:white;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:10px;
    margin:20px auto;
}

.cell{
    width:100px;
    height:100px;
    background:white;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
    cursor:pointer;
    border-radius:8px;
}

.cell:hover{
    background:#ddd;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    background:#22c55e;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#16a34a;
}

#status{
    font-size:22px;
}
